<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <img src="{{navbar.image}}" alt="logo" style="width: 40px; padding: 5px;">
    <a class="navbar-brand">{{navbar.title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <li class="nav-item">
          <a class="nav-link" routerLink="adminLeave"><i class="fa-solid fa-hand-holding-medical"></i>
            {{navbar.navbarSecondTool}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="adminPay"><i class="fa-solid fa-coins"></i> {{navbar.navbarThirdTool}}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-bars-progress"></i> {{navbar.navbarSixthTool}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="add">{{navbar.firstOption}}</a></li>
            <li><a class="dropdown-item" routerLink="employeeList">{{navbar.secondOption}}</a></li>
            <li><a class="dropdown-item" routerLink="search">{{navbar.thirdOption}}</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink=""><i class="fa-solid fa-right-from-bracket"></i>
            {{navbar.navbarFifthTool}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>